body{
  /*background-image: url("../img/background.jpg");*/
  background-color: rgba(0, 0, 0, 0);
}
.container{
  background-image: url("../img/background.jpg");
}
.ui-header{
background-color: red;
}
.button{



}
.input-style{
  /*background: none;
  border: none;
  color: white;
  height: 2em;
  width: 80vw;
  text-indent: 2vw;
  text-align: top;
  display: inline-flex;*/
  background: none;
    border: none;
    color: white;
    height: 2em;
    width: 80vw;
    text-indent: 2vw;
    text-align: top;
    display: inline-flex;
    padding-left: 0em;
}
input:focus{
    outline: none;
}
.icon{
  /*text-shadow: none;
  color: white;
  margin-left: 1vw;
  display: inline-block;*/
  text-shadow: none;
    color: white;
    margin-left: 3vw;
    display: inline-block;
}
.border{
/*border: 1px solid white;
    margin: 3vw;
    width: 95vw;
    text-shadow: none;
    color: #fff;*/
    border: 1px solid white;
    margin: 4vw;
    width: 91vw;
    text-shadow: none;
    color: #fff;
}
input[type="date"]{
  color: white;
  width: 47vw;

}
sub {
      display: block;
      text-align: right;
      padding-right: 2em;
      color: #fff;
    text-shadow: none;

}
/*.icon1{
  text-shadow: none;
  color: white;
  margin-left: 1vw;
  display: inline-block;
  }
.icon1:after {
  content: "X",
	z-index: 1;
	display: block;
}
password:not(:valid) ~ .icon {
	display: none;
}*/
/*.search-box,.close-icon,.search-wrapper {
	position: relative;
	padding: 10px;
}
.search-wrapper {
	width: 500px;
	margin: auto;
	margin-top: 50px;
}*/


/*.search-box {
	width: 100%;
	border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}
.search-box:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
}
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}*/
/*.search-box:not(:valid) ~ .close-icon {
	display: none;
}*/
